<html>
	<head>
		<title>Create Post</title>
        <link rel="stylesheet" href="/navbar.css">
		<style>
			input[type="text"], textarea {
				width: 100%;
				padding: 10px;
				margin: 8px 0;
				display: inline-block;
				border: 1px solid #ccc;
				border-radius: 4px;
				box-sizing: border-box;
				resize: vertical;
			}

			input[type="submit"] {
				width: 100%;
				background-color: #4CAF50;
				color: white;
				padding: 10px;
				border: none;
				border-radius: 4px;
				cursor: pointer;
			}
			input[type="submit"]:hover {
				background-color: #45a049;
			}

			.container {
				width: 80%;
				margin: 0 auto;
				border-radius: 5px;
			}

            .error {
                color: red;
                text-align: center;
            }
            .back {
                text-align: center;
            }
		</style>
	</head>
	<body>
        <nav class="navbar">
            <div class="nav-left">
                <a href="/posts">Posts</a>
                <a class="active" href="/create">Create Posts</a>
            </div>
            <div class="nav-right">
                <a href="/logout">Logout</a>
            </div>
        </nav>

		<div class="container">
            {{if .error}}
                <div class="error">{{.error}}</div>
            {{end}}

			<form action="/create" method="POST", enctype="multipart/form-data">
				<div class="row">
					<input type="text" id="title" name="title" placeholder="Title" value="{{.title}}" required>
				</div>
				<div class="row">
					<textarea id="content" name="content" placeholder="Was los?" style="height:200px">{{.content}}</textarea>
				</div>
				<div class="row">
                    <label for="images">Images:</label>
                    <input type="file" id="images" name="images" accept="image/*" multiple>
                </div>
                <div class="row">
                    <input type="text" id="video_link" name="video_link" placeholder="YouTube Video Link" value="{{.video_link}}">
                </div>
                <br></br>
				<div class="row">
					<input type="submit" value="Post">
				</div>
			</form>
		</div>
	</body>
</html>

