<html>
	<head>
		<title>Create Post</title>
		<style>
			input[type="text"], textarea {
				width: 100%;
				padding: 10px;
				margin: 8px 0;
				display: inline-block;
				border: 1px solid #ccc;
				border-radius: 4px;
				box-sizing: border-box;
				resize: vertical;
			}

			input[type="submit"] {
				width: 100%;
				background-color: #4CAF50;
				color: white;
				padding: 10px;
				border: none;
				border-radius: 4px;
				cursor: pointer;
			}
			input[type="submit"]:hover {
				background-color: #45a049;
			}

			.container {
				width: 80%;
				margin: 0 auto;
				border-radius: 5px;
			}

            .error {
                color: red;
                text-align: center;
            }
            .back {
                text-align: center;
            }
		</style>
	</head>
	<body>
		<h1>Create Post</h1>

		<div class="container">
            {{if .error}}
                <div class="error">{{.error}}</div>
            {{end}}

			<form action="/create" method="POST", enctype="multipart/form-data">
				<div class="row">
					<input type="text" id="title" name="title" placeholder="Title">
				</div>
				<div class="row">
					<textarea id="content" name="content" placeholder="Was los?" style="height:200px"></textarea>
				</div>
				<div class="row">
                    <label for="images">Images:</label>
                    <input type="file" id="images" name="images" accept="image/*" multiple>
                </div>
                <br></br>
				<div class="row">
					<input type="submit" value="Post">
				</div>
			</form>
            <div class="back">
                <a href="/posts">Back</a>
            </div>
		</div>
	</body>
</html>

