<html>
	<head>
		<title>Posts</title>
        <link rel="stylesheet" href="/navbar.css">
		<style>
			.container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 10px;
			}
			.right-align {
				padding: 10px 20px;
			}
			.clearfix {
				overflow: auto;
			}

			.post-box {
				width: 80%;
				background: white;
				padding: 20px;
				margin: 0 auto 20px;
				border: 2px solid #ddd;
				border-radius: 5px;
			}
			.post-box .author {
				font-weight: bold;
				margin-bottom: 6px;
			}
			.post-box .info {
				color: #888;
				font-size: 14px;
			}
            .post-box .title a {
                color: #000;
                text-decoration: none;
            }
			.post-box .content {
				margin-top: 10px;
				font-size: 16px;
				line-height: 1.6;
                white-space: break-spaces;
			}
            .post-box .image {
                padding: 1px;
            }
            .post-box .image img {
                max-width: 100%;
                max-height: 65vh;
            }

            .page_nav {
                display: flex;
                justify-content: space-evenly;
            }
            .page_nav a {
                color: #000;
                text-decoration: none;
            }
		</style>
	</head>
	<body>
        <nav class="navbar">
            <div class="nav-left">
                <a class="active" href="/posts">Posts</a>
                <a href="/create">Create Posts</a>
            </div>
            <div class="nav-right">
                <a href="/logout">Logout</a>
            </div>
        </nav>
		{{ range .posts }}
			<div class="post-box">
				<div class="author">
					{{ .UserName }}
				</div>
				<div class="info">
					{{ .CreatedAt | formatAsDate }}
                    <br>
                    {{ .Comments | len }} comments
				</div>
                <div class="title">
                    <a href="/post/{{ .ID }}">
                        <h2>{{ .Title }}</h2>
                    </a>
                </div>
				<div class="content">{{ .Content }}</div>
                {{ range .Images }}
                    <div class="image">
                        <a href="/uploads/{{ . }}" target="_blank">
                            <img src="/uploads/{{ . }}">
                        </a>
                    </div>
                {{ end }}
			</div>
		{{ end }}

        <div class="page_nav">
        {{ if .prev_page }}
            <a href="/posts?page={{ .prev_page }}">&lt Previous Page</a>
        {{ else }}
            <div></div>
        {{ end }}
        {{ if .next_page }}
            <a href="/posts?page={{ .next_page }}">Next Page &gt</a>
        {{ else }}
            <div></div>
        {{ end }}
        </div>
	</body>
</html>

